<html lang="en">
<head>
    <title>Text CAPTCHA Primer Integracije</title>
    <link rel="stylesheet" href="{{ base_path }}/style.css" />
    <style>
        form > * {
            display: block;
            margin: 6px;
        }
        form > textarea {
            width: 600px;
            height: 200px;
        }
        form > button[type=submit] {
            padding: 8px;
        }
    </style>
</head>
<body>
<h1>Text CAPTCHA Primer Integracije</h1>
<form method="post" action="{{ base_path }}/submit">
    <label for="content">Besedilo, za katerega naj se pripravijo naloge CAPTCHA (npr. besedilo nekega članka):</label>
    <textarea id="content" name="content"></textarea>
    <button type="submit">Submit</button>

    Že pripravljen nabor besedil:
    <ul>
    {{#showcases}}
    <li><a href="{{ base_path }}/a/{{ id }}">{{ title }}</a></li>
    {{/showcases}}
    </ul>
</form>
</body>
</html>