body {
    background-color: maroon;
}

#captcha-button {
    border-radius: 4px;
    background-color: violet;
}

#captcha-space > .meta {
    display: block;
    margin-bottom: 8px;
    font-size: 0.75em;
}

#captcha-space > .piece {
    cursor: pointer;
}

#captcha-space > .piece:hover {
    background-color: wheat;
}

#captcha-space > .piece.selected {
    background-color: yellowgreen;
}

#captcha-status {
    position: fixed;
    padding: 4px;
    right: 8px;
    bottom: 8px;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.66);
    color: white;
    width: 150px;
    z-index: 1200;
}