.word {
  display: inline-block;
  padding-left: 2px;
  padding-right: 2px;
  color: #888;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
}

.word.word-highlighted {
  color: #000;
  border-bottom-color: #00796b;
  border-bottom-style: solid;
}
