{
	admin off
	local_certs
	auto_https disable_redirects
	default_sni 192.168.99.101
}

localhost {
	respond "Serving localhost."
}

192.168.99.101, http://192.168.99.101 {
	# Set a default CORS if upstream doesn't define it.
	header ?Access-Control-Allow-Origin *

	@text_ingest {
		path /captcha/i
		path /captcha/i/*
	}

	route @text_ingest {
		reverse_proxy tc-text-ingest:8010
	}

	@task_manager {
		path /captcha/t
		path /captcha/t/*
	}

	route @task_manager {
		reverse_proxy tc-task-manager:8020
	}

	@demo {
		path /demo
		path /demo/*
	}

	route @demo {
		# uri strip_prefix /demo
		reverse_proxy tc-integration-demo:8000
	}

	@process_text_ner {
		path /ner
		path /ner/*
	}

	route @process_text_ner {
		uri strip_prefix /ner
		reverse_proxy tc-ner-process-text:5000
	}

	@process_text_classla {
		path /classla
		path /classla/*
	}

	route @process_text_classla {
		uri strip_prefix /classla
		reverse_proxy tc-classla-process-text:5010
	}

	respond 200
}
